<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.dao.DriverMapper">


    <insert id="addOneDriver" parameterType="driver">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into driver(username,sex,age,license_and_age,id_card,driver_pic_path)
        values(#{username},#{sex},#{age},#{licenseAndAge},#{idCard},#{driverPicPath})
    </insert>


    <select id="getAllDriver" resultType="driver">
        select id,username,sex,age,
        license_and_age licenseAndAge,id_card idCard,driver_pic_path driverPicPath
        from driver limit #{curr},#{nums};
    </select>

    <select id="getCountOfDriver" resultType="Integer">
        select count(*) from driver;
    </select>

    <delete id="deleteCheckDriver" parameterType="java.util.List">
        delete from driver where id in 
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>

    <delete id="deleteOneDriver">
        delete from driver where id =#{id};
    </delete>

    <update id="updateDriver" parameterType="driver">
        update driver set username=#{username},sex=#{sex},age=#{age},
                          license_and_age=#{licenseAndAge},id_card=#{idCard}
                          <if test="driverPicPath!=null and driverPicPath!=''">
                              ,driver_pic_path=#{driverPicPath}
                          </if>
                          where id=#{id};
    </update>

    <select id="searchDriver" resultType="driver">
        select id,username,sex,age,
        license_and_age licenseAndAge,id_card idCard,driver_pic_path driverPicPath from driver
        <where>
            <if test="username!=null and username!=''">
                username like concat(concat('%',#{username}),'%')
            </if>
            <if test="idCard!=null and idCard!=''">
                and id_card=#{idCard}
            </if>
        </where>
    </select>

    <select id="getDriverIdCard" resultType="String">
        select id_card from driver where id_card = #{idCard};
    </select>

    <select id="isAssigned" resultType="assign">
        select id,driver_username driverUsername,driver_id_card driverIdCard,
        car_name carName,car_license_late_number carLicenseLateNumber,profit
        from assign where driver_username=#{username} and driver_id_card=#{idCard};
    </select>

    <select id="getOneDriverById" resultType="driver">
        select id,username,sex,age,
        license_and_age licenseAndAge,id_card idCard,driver_pic_path driverPicPath from driver
        where id = #{id};
    </select>
</mapper>