<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.dao.LogRecordMapper">
    <insert id="insertLog" parameterType="LogRecord">
        insert into log_record
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="username != null" >
                username,
            </if>
            <if test="optIp != null" >
                optIp,
            </if>
            <if test="operation != null" >
                operation,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="username != null" >
                #{username},
            </if>
            <if test="optIp != null" >
                #{optIp},
            </if>
            <if test="operation != null" >
                #{operation},
            </if>
            <if test="content != null" >
                #{content},
            </if>
            <if test="createTime != null" >
                #{createTime},
            </if>
        </trim>
    </insert>

    <select id="getLogRecord" resultType="LogRecord">
        select id,username,optIp,operation,content,create_time createTime from log_record;
    </select>
</mapper>